body {
	padding-top: 90px;
}
#taskboard {
	font-size: 13px;
	margin: 0 auto;
}
#taskboard .taskboard-head {
	position: fixed;
	top: 0;
	left: 0;
	height: 91px;
	z-index: 1000;
}
#taskboard .taskboard-head th {
	vertical-align: bottom;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.7);
	border-bottom: 1px solid rgba(160,160,160,0.4);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	#taskboard .taskboard-head th {
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
		box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
	}
}
#taskboard .table {
	border-collapse: collapse;
	width: auto;
	max-width: none;
}
#taskboard td, #taskboard th {
	padding: 4px;
	border: 1px solid rgba(160,160,160,0.4);
}
#task-table td, #task-table th {
	vertical-align: top;
}
#taskboard th {
	border-bottom: none;
}
#taskboard .table .column {
	width: 320px;
}
#taskboard .table .column.column-1 {
	width: 252px;
}
#taskboard .card {
	position: relative;
	font-size: 14px;
	padding: 6px;
	margin: 4px;
	background-color: rgba(255,255,255,.1);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
	border: none;
	border-left: 6px solid #777;
	height: 120px;
	border-radius: 0;
}
#taskboard .card.task {
	cursor: move;
	width: 145px;
	float: left;
}
#taskboard .card.task.placeholder {
	background-color: #fff;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	opacity: .1;
}
#taskboard .card.story .task-id {
	float: left;
}
#taskboard .card.story .top {
	height: 20px;
	padding: 0;
}
#taskboard .card.story .owner {
	display: block;
	float: right;
	width: 135px;
	position: static;
	padding-left: 0;
	margin-right: 5px;
	overflow: hidden;
}
#taskboard .card.story .category {
	color: #969696;
}
#taskboard .card .owner {
	position: absolute;
	bottom: 2px;
	left: 0;
	height: 18px;
	text-align: left;
	overflow: hidden;
	padding-left: 5px;
	color: #969696;
}
#taskboard .card .type {
	position: absolute;
	bottom: 5px;
	left: 0;
	height: 18px;
	text-align: left;
	overflow: hidden;
	padding-left: 5px;
	color: #969696;
}
#taskboard .card .hours {
	position: absolute;
	bottom: -3px;
	right: -3px;
	background-color: #777;
	color: #FFF;
	width: auto;
	border-radius: 10px;
	z-index: 10;
}
#taskboard .card .hours.no-hours {
	display: none;
}
#taskboard .card .priority {
	max-width: 77px;
	position: absolute;
	top: -3px;
	right: -3px;
	z-index: 10;
	background-color: #008000;
	border-radius: 10px;
	text-align: center;
}
#taskboard .card .priority.normal {
	display: none;
}
#taskboard .card .priority.low {
	background-color: #c5c5c5;
	color: #444;
}
#taskboard .card .priority.high {
	background-color: #D63300;
	color: #fff;
}
#taskboard .card .hours,
#taskboard .card .priority {
	padding: 0 7px;
	line-height: 18px;
}
#taskboard .card .top {
	position: relative;
	border-bottom: 1px dotted rgba(160,160,160,0.7);
	text-align: left;
	top: -4px;
	height: 20px;
	overflow: hidden;
}
#taskboard .card .top a:hover {
	text-decoration: underline;
}
#taskboard .card .title {
	position: relative;
	top: -4px;
	height: 78px;
	overflow: hidden;
}
#taskboard .card .dueDate, #taskboard .card .description {
	display: none;
}
#taskboard .completed .card.task,
#taskboard .completed.card.task {
	text-decoration: line-through;
	height: 52px;
}
#taskboard .completed.card.story,
#taskboard .completed.card.story a {
	text-decoration: line-through;
}
#taskboard .completed .task .title,
#taskboard .completed.task .title {
	font-size: 10px;
	height: 28px;
}
#taskboard .completed .hours,
#taskboard .completed .owner {
	display: none;
}
#taskboard .spinner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 50;
	background-position: center center;
	background-repeat: no-repeat
}
#taskboard .error {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 20%;
	z-index: 50;
	font-size: 4em;
	line-height: 1;
}
.cloneable {
	display: none;
}

#burndown-legend .line-legend {
	list-style: none;
	line-height: 1.5;
	padding-left: 0;
}
#burndown-legend .line-legend li span {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid #444;
	border-radius: 2px;
	margin: 0 .5em;
	margin-bottom: -2px;
}
