<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset your password</title>
    <include href="notification/blocks/_head.html" />
</head>
<body style="margin: 0; padding: 0;">
    <span style="font-size:0px;"> --- --- </span>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td bgcolor="#ffffff">
                <div align="center" style="padding: 0px 15px 0px 15px;">
                    <table width="600" class="wrapper">

                        <include href="notification/blocks/logo.html" />

                        <!-- Header -->
                        <tr>
                            <td bgcolor="#e74c3c" style="border-radius: 4px 4px 0 0;" class="header">
                                <table width="100%">
                                    <tr>
                                        <td colspan="3" height="45"></td>
                                    </tr>
                                    <tr>
                                        <td width="15"></td>
                                        <td style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 18px; color: #ffffff; line-height: 1.5;">
                                            Reset your password
                                        </td>
                                        <td width="15"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="15"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- Message -->
                        <tr>
                            <td class="message">
                                <table style="border: 1px solid #ecf0f1; border-top: 0;" width="100%">
                                    <tr>
                                        <td colspan="3" height="15"></td>
                                    </tr>
                                    <tr>
                                        <td width="15"></td>
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #2c3e50;">
                                                        Someone requested to reset your password on {{ date("F jS \\a\\t g:ia", $this->utc2local()) }}.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #2c3e50;">
                                                        If this was you, click the button below to reset your password. Otherwise, you can safely ignore this email.
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="15"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="15"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- Actions -->
                        <tr>
                            <td class="actions">
                                <table bgcolor="#ecf0f1" style="border-radius: 0 0 4px 4px;" width="100%">
                                    <tr>
                                        <td colspan="3" height="15"></td>
                                    </tr>
                                    <tr>
                                        <td width="15"></td>
                                        <td>
                                            <a href="{{ @site.url }}reset/{{ @token }}" style="color: #000000; text-decoration: none; font-weight: bold; font-size: 16px;">
                                                <!-- <table bgcolor="#2c3e50" class="btn" style="border-radius: 5px;">
                                                    <tr>
                                                        <td height="5"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="10"></td>
                                                        <td align="center" style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none;"> -->
                                                            <u>Reset Password</u>
                                                 <!--        </td>
                                                        <td width="10"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                    </tr>
                                                </table> -->
                                            </a>
                                        </td>
                                        <td width="15"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="15"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <include href="notification/blocks/footer.html" with="footer_msg='You receieved this message because of activity on your account'" />

                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
